<footer class="page-footer font-small blue pt-4">

  <div class="container-fluid text-center text-md-left">

    <div class="row">

      

      <hr class="clearfix w-100 d-md-none pb-3">



      <div class="col-md-3 mb-md-0 mb-3">

        <ul class="list-unstyled">
          <li>
            <a href="#!">Design your product</a>
          </li>
          <li>
            <a href="#!">Sell on Wardrobe</a>
          </li>
          <li>
            <a href="#!">Features</a>
          </li>
          <li>
            <a href="#!">FAQ</a>
          </li>
          <li>
            <a href="#!">Track order</a>
          </li>
        </ul>

      </div>

      <div class="col-md-3 mb-md-0 mb-3">

        <ul class="list-unstyled">
          <li>
            <a href="#!">Blog</a>
          </li>
          <li>
            <a href="#!">Jobs</a>
          </li>
          <li>
            <a href="#!">Press Kit</a>
          </li>
          <li>
            <a href="#!">Contact us</a>
          </li>
        </ul>

      </div> 

      <div class="col-md-6 mt-md-0 mt-3">

        <h4>
          Show the world what you stand for
          <a href="#!"><i class="fab fa-facebook-f"></i></a>
          <a href="#!"><i class="fab fa-twitter"></i></a>
          <a href="#!"><i class="fab fa-instagram"></i></a>
        </h4>

      </div>
    </div>
  </div>

  <div class="footer-copyright text-center pt-2">© 2019 Copyright: Wardrobe.com</div>

</footer>