<h2 class="text-center">Editing item</h2>

<%= render 'form', apparel: @apparel %>
<%= link_to 'Destroy', @apparel, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Show', @apparel %> |
<%= link_to 'Back', apparels_path %>
